<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

    <!-- definition de la vue a activer par defaut au lancement de l'application -->
    <welcome-file-list>
		<welcome-file>accueil.jsp</welcome-file>
    </welcome-file-list>

    <!-- parametres de l'application web : pour le controleur -->

    <!-- declaration des differentes commandes de l'application sous forme de parametres de l'applications-->
    <!-- le nom de la commande doit etre de la forme cmd-nomCommande -->
    <!-- la valeur de chaque parametre est composee des 3 elements suivants : -->
    <!-- 1. Le nom de la classe de commande associee a la commande -->
    <!-- 2. Le nom de la JSP (la vue) qui devra etre activee suite a l'execution de la commande -->
    <!-- 3. Le droit associee a la commande : -->
    <!--	all -> accessible a tout utilisateur, --> 
    <!-- 	admin -> accessible uniquement aux utilisateurs ayant le droit admin -->
    <context-param>
        <param-name>cmd-accueil</param-name>
		<param-value>pac.NullCommande;accueil.jsp;all</param-value>
    </context-param>

    <context-param>
        <param-name>cmd-produits</param-name>
		<param-value>pac.CommandeProduits;produits.jsp;all</param-value>
    </context-param>

    <!-- le nom de la commande de login doit etre obligatoirement login -->
    <context-param>
        <param-name>cmd-login</param-name>
		<param-value>pac.CommandeVerifLogin;accueil.jsp;all</param-value>
    </context-param>
    
    <!-- Commandes à ajouter exo2 -->
    <context-param>
    	<param-name>cmd-clients</param-name>
		<param-value>pac.CommandeClients;clients.jsp;all</param-value>
    </context-param>
    
    <context-param>
    	<param-name>cmd-achats</param-name>
		<param-value>pac.CommandeAchatsClient;achatsClient.jsp;all</param-value>
    </context-param>
    
     <context-param>
    	<param-name>cmd-produitsMAJ</param-name>
		<param-value>pac.CommandeProduits;produitsMAJ.jsp;admin</param-value>
    </context-param>
    
    <context-param>
    	<param-name>cmd-achatsProduit</param-name>
		<param-value>pac.CommandeAchatsProduit;achatsProduit.jsp;all</param-value>
    </context-param>
    
    <context-param>
    	<param-name>cmd-produitMAJ</param-name>
		<param-value>pac.CommandeAchatsProduit;produitMAJ.jsp;admin</param-value>
    </context-param>
    
    <context-param>
    	<param-name>cmd-produitMAJValid</param-name>
		<param-value>pac.CommandeProduitMAJValid;produitMAJValid.jsp;admin</param-value>
    </context-param>
    
    <context-param>
    	<param-name>cmd-ajoutProduit</param-name>
		<param-value>pac.NullCommande;produitAjout.jsp;admin</param-value>
    </context-param>
    
    <context-param>
    	<param-name>cmd-ajoutProduitValid</param-name>
		<param-value>pac.CommandeInsertProduit;produitAjoutValid.jsp;admin</param-value>
    </context-param>
    
    <context-param>
    	<param-name>cmd-supprProduit</param-name>
    	<param-value>pac.CommandeSupprimerProduit;produitSupprValid.jsp;admin</param-value>
    </context-param>

    <!-- declaration de la servlet controleur -->
    <servlet>
      <servlet-name>controleur</servlet-name>
      <servlet-class>Controleur</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>controleur</servlet-name>
        <url-pattern>/controleur</url-pattern>
    </servlet-mapping>

    <!-- declaration de la servlet qui controle la session (activee par le controleur) -->
    <servlet>
      <servlet-name>controleSession</servlet-name>
      <servlet-class>ControleSession</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>controleSession</servlet-name>
        <url-pattern>/controleSession</url-pattern>
    </servlet-mapping>

    
</web-app>
