<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
<web-app version="3.0">
  <display-name>websc</display-name>

	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>HelloClass</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>personne</servlet-name>
		<servlet-class>ServletPersonne</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>cpt</servlet-name>
		<servlet-class>CompteurClass</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>cpt2</servlet-name>
		<servlet-class>CompteurClass</servlet-class>
	</servlet>

	<servlet-mapping>
		<url-pattern>/bonjour</url-pattern>
		<servlet-name>hello</servlet-name>
	</servlet-mapping>
	
	<servlet-mapping>
		<url-pattern>/personne</url-pattern>
		<servlet-name>personne</servlet-name>
	</servlet-mapping>


	<servlet-mapping>
		<url-pattern>/cpt</url-pattern>
		<servlet-name>cpt</servlet-name>
	</servlet-mapping>
	
	<servlet-mapping>
		<url-pattern>/cpt2</url-pattern>
		<servlet-name>cpt2</servlet-name>
	</servlet-mapping>

</web-app>
